:root{
  --bg:#f2f3f5;
  --panel:#fff;
  --accent:rgb(47, 140, 255);
  --bg-color:#eee;
  --bg-start:#eee;
  --bg_end:#eee;
  --a:#fff3d6;
  --b:#eafcff;
  --basic-a:#000000;
  --basic-b:#000000;
  --highlight-a:#ff4d4f;
  --highlight-b:#4f7eff;
  --margin-top:50px;
  --margin-bottom:50px;
  --margin-left:50px;
  --margin-right:50px;
  --bubble-line-height: 1.4;
  --bubble-letter-spacing : 0px;
  --bubble-max-width : 350px;
  --chat-font: 'Pretendard';
  --chat-font-weight: normal;
}

/*인쇄체*/
@font-face {
    font-family: 'NexonLv1Gothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Light.woff') format('woff');
    font-weight: 300;
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Light.woff2') format('woff2');
    font-weight: 100;
    font-display: swap;
}
@font-face {
    font-family: 'GowoonDodum';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}
.nanum-gothic-regular {
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.noto-sans-kr {
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}
@font-face {
    font-family: 'Ridibatang';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}
@font-face {
    font-family: 'ChosunIlboMyungjo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}
.nanum-myeongjo-regular {
  font-family: "Nanum Myeongjo", serif;
  font-weight: 400;
  font-style: normal;
}
@font-face {
    font-family: 'Sweet';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Light.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
}

/*각진 손글씨*/
@font-face {
    font-family: 'GabiaSai';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2510-1@1.0/GabiaSai-Regular.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}
@font-face {
    font-family: 'GangwonEducationModuche';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFLightA.woff') format('woff');
    font-weight: 300;
    font-display: swap;
}

/*또박또박 손글씨*/
@font-face {
    font-family: 'OngleipKonkon';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2412-1@1.0/Ownglyph_corncorn-Rg.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}
@font-face {
    font-family: 'OmuDaye';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}

/*귀여운 손글씨*/
@font-face {
    font-family: 'IsYun';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/LeeSeoyun.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}
@font-face {
    font-family: 'KyoboHandwriting2019';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/KyoboHand.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}
@font-face {
    font-family: 'MissedGyuwon';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2510-1@1.0/Griun_Gyuwon-Rg.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}

/*붓글씨*/
@font-face {
    font-family: 'Shilla';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/Shilla_CultureM-Medium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
}
@font-face {
    font-family: 'SolmoeKimDaegeon';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/kdg_Light.woff') format('woff');
    font-weight: 300;
    font-display: swap;
}
@font-face {
    font-family: 'Joseon100Years';
    src: url('https://gcore.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/ChosunCentennial.woff2') format('woff2');
    font-weight: Normal;
    font-display: swap;
}
@font-face {
    font-family: 'KkuBulLim';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2410-1@1.0/BMkkubulimTTF-Regular.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}

/*픽셀*/
@font-face {
    font-family: 'RoundedFixedsys';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}



*{box-sizing:border-box}
body{
  margin:0;background:var(--bg);
  font-family:sans-serif;
  /*font-family:NexonLv1Gothic; font-weight: 300;*/
  display:flex;
  gap:10px;padding:10px;height:100vh
}

.panel{
  width:300px;background:var(--panel);
  border-radius:10px;padding:12px;
  display:flex;flex-direction:column;
  gap:12px;overflow:auto
}

.hidden-panel .hidden-options{
  overflow:hidden;
  max-height:0;
  transition:all 0.3s ease;
  display:flex;
  flex-direction:column;
  gap:12px;
  margin-top:5px;
  margin-left: 15px;
    opacity: 0;
}

.horizon-panel
{
    display:flex;
    flex-direction:row;
}

.hidden-panel.active .hidden-options {
  max-height:1000px; /* 충분히 큰 값으로 펼침 */
    opacity: 1;
}

/* 프로필 업로드 영역 슬라이드 전환 효과 */
.hidden-options-item {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.35s ease;
    display:grid;
  gap:12px;
  margin-left: 15px;
}
/* 열릴 때 */
.hidden-options-item.active {
  max-height: 1000px; /* 업로드 input이 전부 보일 정도로 설정 */
  opacity: 1;
}

.toggle-btn{
  padding:6px 8px;
  border:none;
  background:#92a7a0;
  border-radius:6px;
  cursor:pointer;
  font-size:13px;
  text-align:left;
  display:flex;
  align-items:center;
  gap:4px;
}

.toggle-btn::before{
  content:'▶';
  display:inline-block;
  transition: transform 0.3s ease;
}

.profile-panel.active .toggle-btn::before{
  transform:rotate(90deg);
}


button{
  padding:8px 10px;border:0;border-radius:6px;
    margin-left: 5px;
    margin-right: 10px;
  background:var(--accent);color:#fff;cursor:pointer
}
button.ghost{background:#fff;color:var(--accent);border:1px solid var(--accent)}
button.delete{background:#fa5e5e; border:1px solid #fa5e5e ;color:#fff}
button.save{background:#3e3e3e; border:1px solid #3e3e3e ;color:#fff}
button.active{background:var(--accent);color:#fff}

textarea{
  width:100%;height:80px;resize:none;padding:8px;
  border-radius:8px;border:1px solid #ccc
}

textarea.name{
    width:100%;height:25px;resize:none;padding:8px;
  border-radius:8px;border:1px solid #ccc
}

input[type=file]{font-size:12px; margin-left: 10px; margin-top: 5px;}
input[type=color]{ width: 30px; height: 30px; margin-left: 10px; margin-right: 15px}
input[type=checkbox]{font-size:12px; margin-left: 10px}
label{font-size:13px;font-weight:600}
.toggle{display:flex;align-items:center;gap:6px;font-size:13px;margin-left: 10px}

.chat-wrapper{
  flex:1;display:flex;flex-direction:column;
  align-items:flex-start
}
.frame{
  width:900px;min-height:200px;background:#eee;
  display:flex;
  flex-direction:column;
}
.chat-area {
  flex:1;
  /*overflow:auto;*/
  display:flex;
  flex-direction:column;
  gap:12px;
  background:#f7f8fa;
  /*padding:var(--margin-top) var(--margin-right) var(--margin-bottom) var(--margin-left);*/
  padding:var(--margin-top) 10px var(--margin-bottom) 10px;
  transition:padding 0.15s ease;
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
}

.chat-area, .bubble {
  font-family: var(--chat-font);
  font-weight: var(--chat-font-weight);
}

.msg {
  display: flex;
  align-items: flex-start; /* 상단 기준 정렬 */
  gap: 10px;
  max-width: 100%;
  margin-left: var(--margin-left);
  margin-right: var(--margin-right);
}
.msg.left {
  align-self: flex-start;
  flex-direction: row;
  /*
  margin-left: var(--margin-left);
  margin-right: var(--margin-right);
  */
}

.msg.right {
  align-self: flex-end;
  flex-direction: row-reverse;
    /*
    margin-left: var(--margin-left);
    margin-right: var(--margin-right);
    */
}

.msg.centerA{
  align-self: center !important;
  flex-direction: column;
  /*text-align: center;*/
  align-items: flex-start; /* 중앙 정렬 시 수직 중심 */
}
.msg.centerB {
  align-self: center !important;
  flex-direction: column;
  /*text-align: center;*/
  align-items:flex-end; /* 중앙 정렬 시 수직 중심 */
}

.highlighted-text {
  background-color: var(--highlight-bg, yellow);
  white-space: pre-wrap;
  box-decoration-break: clone;
}


/* 프로필 이미지 고정 */
.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #ddd;
  overflow: hidden;
  display: none;
  flex-shrink: 0; /* 크기 찌그러짐 방지 */
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.bubble {
  padding:30px;
  border-radius:15px;
  line-height:var(--bubble-line-height);
  letter-spacing:var(--bubble-letter-spacing);
  font-size:var(--bubble-font-size,16px);
  color:#000;
  max-width: var(--bubble-max-width);
}

.left .bubble{background:var(--a);border-top-left-radius:6px}
.right .bubble{background:var(--b);border-top-right-radius:6px}
.centerA .bubble{background:var(--a);border-top-right-radius:6px}
.centerB .bubble{background:var(--b);border-top-right-radius:6px}

.margin-box{display:grid;grid-template-columns:repeat(4,1fr);gap:4px}

.edit-panel{
    width:300px;
    background:#fff;
    border-radius:10px;
    padding:12px;
    /*display:flex;*/
    flex-direction:column;gap:8px;
    border:1px solid #ccc;
    display:none;
}
.edit-panel.active{display:flex;}
#editBox{height:500px;}
